body{
background:grey;
}
ul{
	background: white;
	width:300px;
	list-style: none;
	padding: 10px 0px;
}
.menu{
	position: relative;
	height: 300px;
}
ul li a{
	text-decoration: none;
	color:#757575;
	display: block;

}
ul li a{
	padding:10px;
}
.menu li a:hover{
	background:#E4E4E4;
	color:lightblue;
}
.menu li:hover .submenu{
	display: block;
}
.submenu{
	position: absolute;
	left:300px;
	top:0px;
	display: none;
	height: 300px;
}
